

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
}

header{
    text-align: center;
    
}

footer{
    background-color: #e2d869;
    color:white;
    text-align: center;
    padding:2%;
}

section{
    display: flex;
}


