body{
    background-color: lightcoral;
}
#header{
    text-align: center;
    background-color: lightgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#footer{
    background-color: lightslategrey;
    text-align: center;
    position: fixed;
    
}

